<% if current_user.dweller? %>
<small>
	Olá <%= current_user %> seja bem vindo !
</small><br><br> 	
<div class="panel panel-primary">
	  <div class="panel-heading"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mensagens</div>
	  <div class="panel-body">
			<table class="table">
				<tr>
					<th>
						 Data
					</th>
					<th>
						 Título
					</th>
					<th>
						 Tipo de Mensagem
					</th>					
					<th>
					</th>
				
				<% @messages.each do |m| %>
					<tr>
						<td>
								<%= l m.created_at, format: :long%>
						</td>
						<td>
								<%= m.title%>
						</td>
						<td>
							<span class="label label-<%if m.warning? %>warning<%end%><%if m.convocation? %>primary<%end%><%if m.notification? %>danger<%end%>">
								<%= m.type_message_humanize %>						
							</span>							
						</td>
						<td>
							<%= link_to m, role: 'button' do %>
		            <h5 title="ver"><i class="fa fa-eye" aria-hidden="true"></i></h5>
		          <% end %>	          													
						</td>
					</tr>
				<% end %>
			</table>
	  </div>
	</div>
<% end %>