<h4>Listagem de Notificações</h4>

<table class='table'>
  <thead>
    <tr>
      <th width="30%">Título</th>
      <th width="20%">Tipo Notificação</th>
      <th width="50%">Descrição</th>
      <th colspan="3" width="1%"></th>
    </tr>
  </thead>

  <tbody>
		<% if @messages.any?  %>
			<% @messages.each do |message| %>
	      <tr>
	        <td><%= message.title %></td>
	        <td>
						<span class="label label-<%if message.warning? %>warning<%end%><%if message.convocation? %>primary<%end%><%if message.notification? %>danger<%end%> <%if message.accountability? %>danger<%end%>">
							<%= message.type_message_humanize %>						
						</span>
					</td>
	        <td><%= message.description %></td>
					<td>
						<%= link_to message, role: 'button' do %>
		          <h5 title="ver"><i class="fa fa-eye" aria-hidden="true"></i></h5>
		        <% end %>	          																		
					</td>
	        <td>
		          <%= link_to edit_message_path(message), role: 'button' do %>
		            <h5 title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></h5>
		          <% end %>
				 	</td>
		      <td>
						<%= link_to message, method: :delete, data: { confirm: 'Confirma exclusão ?' }, role: "button" do %>
							<h5 title="Apagar"><i class="fa fa-trash" aria-hidden="true"></i></h5>            
						<% end %>
					</td>
	      </tr>
	    <% end %>	    
		<% else %>
    <tr>
      <td colspan="4" class="text-center" >Nenhum registro foi encontrado.</td>
		</tr>
		<% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Notificação', new_message_path, class:'btn btn-success' %>
