<h4 class='text-success'>Ficha do condomino</h4>
<small>
  <strong>Nome:</strong>
  <%= @dweller.name %><br>

  <strong>E-mail:</strong>
  <%= @dweller.email %><br>
  <strong>Telefone:</strong>
  <%= @dweller.phone %><br>
  <strong>CPF:</strong>
  <%= @dweller.cpf %><br>
	<strong>Endereço:</strong>
	<%= @dweller.street %>, <%= @dweller.house_number %> <%= @dweller.neighborhood %><br>
	<%= @dweller.zip_code %> <%= @dweller.city %> - <%= @dweller.federal_unit %><br>
</small>
<br>
<%= link_to 'Editar', edit_dweller_path(@dweller) %> |
<%= link_to 'Editar Login', edit_user_registration_path(@dweller.user) %> |
<%= link_to 'Voltar', dwellers_path %>

